## Santander Kaggle Competition

## Context

According to Epsilon research, 80% of customers are more likely to do business with you if you provide personalized service. Banking is no exception.

The digitalization of everyday lives means that customers expect services to be delivered in a personalized and timely manner… and often before they´ve even realized they need the service. In their 3rd Kaggle competition, Santander Group aims to go a step beyond recognizing that there is a need to provide a customer a financial service and intends to determine the amount or value of the customer's transaction. This means anticipating customer needs in a more concrete, but also simple and personal way. With so many choices for financial services, this need is greater now than ever before.

## Question

In this competition, Santander Group is asking Kagglers to help them identify the value of transactions for each potential
customer. This is a first step that Santander needs to nail in order to personalize their services at scale.

## Load Libraries & Data Sets

In [1]:
import numpy as np
import pandas as pd

In [4]:
# Load train data
train = pd.read_csv('../data/external/train.csv')

# Load test data
test = pd.read_csv('../data/external/test.csv')

## Initial EDA

Here we explore in tabular way all the information that we can get about the train and test data set.

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4459 entries, 0 to 4458
Columns: 4993 entries, ID to 9fc776466
dtypes: float64(1845), int64(3147), object(1)
memory usage: 169.9+ MB

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49342 entries, 0 to 49341
Columns: 4992 entries, ID to 9fc776466
dtypes: float64(4991), object(1)
memory usage: 1.8+ GB

In [54]:
train.loc[:,train.dtypes == object].columns

Index(['ID'], dtype='object')

In [55]:
test.loc[:,test.dtypes == object].columns

Index(['ID'], dtype='object')

In [35]:
test.columns.dtype == object

True

In [56]:
class check_basis:

    def count_miss(df):
        '''
        Check the percentage of miss per column
        :return:
        '''

        miss_per_column = df.apply(lambda x: sum(x.isnull().values / len(df.index) * 100), axis=0)

        res = pd.DataFrame({'variables': miss_per_column.index, '% NA': miss_per_column.values}).sort_values("NA", ascending=False)

        return  res
    
    def check_constant

In [58]:
check_basis.count_miss(test).head()

       NA  variables
0     0.0         ID
3325  0.0  99fc30923
3332  0.0  21b0cdc34
3331  0.0  7f0d863ba
3330  0.0  b22eb2036